/* styles.css */
html {
    font-size: 18px;
}
body {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    color: black;
    overflow: hidden;
    padding: 10px;
    -webkit-app-region: drag;
}

.hidden {
    display: none;
}

#main {
    width: 100%;
    height: 100%;
}

#title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    padding-top: 3px;
    font-size: 1rem;
}

#title.isMac {
    padding-top: 10px;
}

#time {
    display: inline-block;
    font-size: 0.9rem;
}

#volume {
    display: inline-block;
    float: right;
    -webkit-app-region: no-drag;
}

#volumeBar {
    width: 80px;
    display: inline-block;
}

.window-control {
    -webkit-app-region: no-drag;
    float: right;
    margin-top: -5px;
}

.window-control.isMac {
    display: none;
}

.control-buttons {
    text-align: center;
    -webkit-app-region: no-drag;
}

.button {
    cursor: pointer;
}

#play-list {
    font-size: 14px;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

#play-list .item {
    margin-top: 2px;
}

#progressBar {
    margin-top: -12px;
}

#volumeBar svg {
    position: relative;
    top: -11px;
}